.error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.error-image {
    height: 500px;
    width: 500px;
}