.search-input-box {
    height: 30px;
    width: 250px;
    margin-left: 45px;
}

.search-input-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.search-form {
    height: 100%;
    width: 70%;
    box-shadow: rgba(255, 254, 254, 0.519) 0px 54px 55px, rgb(255, 254, 254, 0.519) 0px -12px 30px, rgba(255, 254, 254, 0.519) 0px 4px 6px, rgba(255, 254, 254, 0.519) 0px 12px 13px, rgba(255, 254, 254, 0.519) 0px -3px 5px;
    border: 2px rgba(255, 254, 254, 0.519) solid;
    font-weight: bold;
    font-family: 'Limelight', cursive;
}

.search-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 36px;
    width: 20%;
    background-color: rgba(255, 254, 254, 0.519);
    box-shadow: rgba(255, 254, 254, 0.519) 0px 54px 55px, rgb(255, 254, 254, 0.519) 0px -12px 30px, rgba(255, 254, 254, 0.519) 0px 4px 6px, rgba(255, 254, 254, 0.519) 0px 12px 13px, rgba(255, 254, 254, 0.519) 0px -3px 5px;
    border: 2px rgba(255, 254, 254, 0.519) solid;
    color: rgba(14, 13, 13, 0.898); 
    font-family: 'Limelight', cursive;
}

.search-btn:hover {
    background-color: rgba(14, 13, 13, 0.898);
    color: rgba(255, 254, 254, 0.519); 
    cursor: pointer;
}